body {
    background-color: #7528af; 
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#area-msg {
    height: 70vh;
    width: 50%;
    overflow: scroll;
}

p {
    color: white;
    font-size: 20px;
}

#container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;

}

textarea {
    border-radius: 10px;
    text-align: center;    
}

button {
  margin-left: 15px; 
  background-color: #7528af; 
  border: none;
}

button i {
    font-size: 30px;
    color: #fff;
}